[submodule "DeviantartApi"]
	path = DeviantartApi
	url = https://github.com/Mr1Penguin/DeviantartApi
[submodule "WeasylLib"]
	path = WeasylLib
	url = https://github.com/libertyernie/WeasylLib
[submodule "InkbunnyLib"]
	path = InkbunnyLib
	url = https://github.com/libertyernie/InkbunnyLib
[submodule "WinFormsOAuth"]
	path = WinFormsOAuth
	url = https://github.com/IsaacSchemm/WinFormsOAuth
